<%- include("../partials/header") %> <%- include("../partials/navbar") %>

<!-- component -->
<div class="w-screen h-screen flex justify-center items-center bg-gray-100">
  <form
    class="
      p-10
      bg-white
      rounded
      flex
      justify-center
      items-center
      flex-col
      shadow-md
    "
    action="/auth/register"
    method="post"
  >
    <img
      src="../images/logo.png"
      alt="aa"
      class="w-20 h-20 text-gray-600 mb-2"
    />

    <p class="mb-5 text-xl text-gray-600">Login Into Your Account</p>

    <%- include ('../partials/messages') %>
    <input
      type="email"
      name="email"
      class="
        mb-1
        p-2
        w-80
        focus:border-purple-700
        rounded
        border-2
        outline-none
      "
      autocomplete="off"
      placeholder="Email"
      required
    />

    <input
      type="password"
      name="password"
      class="
        mb-1
        p-2
        w-80
        focus:border-purple-700
        rounded
        border-2
        outline-none
      "
      autocomplete="off"
      placeholder="Password"
      required
    />

    <button
      class="
        bg-purple-600
        hover:bg-purple-900
        text-white
        font-bold
        p-2
        rounded
        w-80
        mt-2
      "
      id="login"
      type="submit"
    >
      Register
    </button>
    <p class="mt-3">
      Haven't Register Yet ? <a href="/auth/register">Register Here.</a>
    </p>
  </form>
</div>

<script>
  document.getElementById("login").addEventListener("click", function (event) {
    event.preventDefault();
  });
</script>

<%- include("../partials/footer") %>
