<%- include("../partials/header") %>

<!-- component -->

<div class="w-full h-screen flex justify-center items-center bg-gray-100">
  <form
    class="
      p-10
      bg-white
      rounded
      flex
      justify-center
      items-center
      flex-col
      shadow-md
    "
    action="/auth/email-verification"
    method="POST"
  >
    <a href="/"
      ><img
        src="../images/logo.png"
        alt="aa"
        class="w-20 h-20 text-gray-600 mb-2"
      />
    </a>

    <p class="mb-5 text-xl text-gray-600">Enter The Verification Code</p>
    <%- include ('../partials/messages') %>

    <input
      type="text"
      name="verificationcode"
      class="
        mb-1
        p-2
        w-80
        focus:border-purple-700
        rounded
        border-2
        outline-none
      "
      autocomplete="off"
      placeholder="Enter your verification code"
      required
    />

    <button
      class="
        bg-purple-600
        hover:bg-purple-900
        text-white
        font-bold
        p-2
        rounded
        w-80
        mt-2
      "
      id="login"
      type="submit"
    >
      Verify Your Email
    </button>
  </form>
</div>

<%- include("../partials/footer") %>
